html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*/ body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--background-color-white);
}

:root {
  --text-color: #212121;
  --background-color-white: #ffffff;
  --hover-focus: #2196f3;
  --header-text-color: #212121;
  --header-logo-color1: #2196f3;
  --header-logo-color2: #000000;
  --main-section-background: #2f303a;
  --main-color: #757575;
  --footer-background-color: #2f303a;
  --footer-email-tel: rgba(255, 255, 255, 0.6);
  --team-background-color: #f5f4fa;
  --main-button-color: #188ce8;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--hover-focus);
}
.container {
}

/* header */
.header {
  width: 1200px;
}
.header-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
}
.header-nav {
  display: flex;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.header-logo1 {
  color: var(--header-logo-color1);
}
.header-logo2 {
  color: var(--header-logo-color2);
}

.header-nav-menu {
  display: flex;
  margin-left: 93px;
}
.header-nav-menu-li:not(:first-child) {
  margin-left: 50px;
}

.header-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-porfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-address-li {
  display: flex;
  margin-left: 344px;
}
.header-nav-address-li1 {
}
.header-nav-address-li2 {
  margin-left: 50px;
}
.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  display: block;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  display: block;
}
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--hover-focus);
}

/* main */
.main-section {
  background-color: var(--main-section-background);
  width: 1200px;
}

.main-section-container {
  width: 1200px;
  border-top: 1px solid #ececec;
}

.main-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-white);

  margin-top: 200px;
  margin-left: 252px;
  margin-right: 252px;
}

.main-section-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-color-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  padding: 10px 32px;
  margin: 30px 492px 200px 492px;
  border-radius: 4px;
  border-color: transparent;
}

.main-section-button:hover,
.main-section-button:focus {
  background-color: var(--main-button-color);
}

/* main-products */
.main-products {
  width: 1200px;
}
.main-products-container {
  display: flex;
  flex-direction: row;
  margin: 215px 94px;
  justify-content: center;
}
.main-products-container:not(:first-child) {
  margin-left: 30px;
}

.main-products-first {
  width: 270px;
}
.main-products-second {
  margin-left: 30px;
  width: 270px;
}
.main-products-third {
  margin-left: 30px;
  width: 270px;
}
.main-products-four {
  margin-left: 30px;
  width: 270px;
}

.main-products-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);

  margin-bottom: 10px;
}
.main-products-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* main work about */
.main-workabout {
  width: 1200px;
}
.main-workabout-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.main-workabout-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 94px;
}

.main-workabout-container:not(:first-child) {
  margin-left: 30px;
}

.main-workabout-img {
}
.main-workabout-second-li,
.main-workabout-third-li {
  margin-left: 30px;
}
/* main team */
.main-team {
  background-color: var(--team-background-color);

  width: 1200px;
}
.main-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-top: 94px;
  margin-bottom: 50px;
}

.main-team-containers {
  display: flex;
  padding-bottom: 94px;
}

.main-team-container {
  background-color: var(--background-color-white);
  width: 270px;
  height: 368px;
}

.main-team-container1,
.main-team-container2,
.main-team-container3 {
  margin-right: 30px;
}

.main-team-img1,
.main-team-img2,
.main-team-img3,
.main-team-img4 {
  margin-bottom: 30px;
}

.main-team-person1,
.main-team-person2,
.main-team-person3,
.main-team-person4 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.main-team-position1,
.main-team-position2,
.main-team-position3,
.main-team-position4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.main-team-img {
}
.main-team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.main-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* main portfolio*/
/* portfolio buttons */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-buttons-container {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.portfolio-button1 {
  padding: 6px 25px;
  margin-right: 8px;
}

.portfolio-button2,
.portfolio-button3,
.portfolio-button4,
.portfolio-button5 {
  padding: 6px 22px;
  margin-right: 8px;
}

.portfolio-button {
  background-color: var(--background-color-white);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-top: 94px;
  border-radius: 4px;
  border-color: transparent;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-focus);
  color: var(--background-color-white);
}

.main-portfolio-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.main-portfolio-containers {
  background-color: var(--background-color-white);
}

.main-portfolio-img {
}

.main-portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);

  margin-top: 20px;
  margin-bottom: 4px;
}
.main-portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
}

.main-portfolio-description1,
.main-portfolio-description2,
.main-portfolio-description3,
.main-portfolio-description4,
.main-portfolio-description5,
.main-portfolio-description6 {
  margin-bottom: 50px;
}

/* footer */
.footer {
  background-color: var(--footer-background-color);

  width: 1200px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: inline-block;
  margin-top: 60px;
  margin-left: 215px;
  margin-bottom: 20px;
}

.footer-logo1 {
  color: var(--header-logo-color1);
}
.footer-logo2 {
  color: var(--background-color-white);
}

.footer-address-first {
  margin-left: 215px;
}

.footer-address,
.footer-email,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-address-li1 {
  margin-bottom: 9px;
}
.footer-address-li2 {
  margin-bottom: 9px;
}
.footer-address-li3 {
}

.footer-address {
  color: var(--background-color-white);
}

.footer-email,
.footer-tel {
  color: var(--footer-email-tel);
}
